article {
    width: 100%;
    height: 100px;
    border: 2px solid #000;
}

article:first-of-type {
    margin-bottom: 200px;
}

article:nth-of-type(2) {
    margin-bottom: var(--margin-b);
    overflow: auto;
}

article:nth-of-type(3) {
    margin-bottom: var(--margin-b);
    overflow: scroll;
}

article:last-of-type {
    overflow: hidden;
}

.float {
    width: 20%;
    float: left;
    margin-right: .6rem;
}

.box--float-example-2 {
 overflow: hidden;
}

