/*Style CSS*/
span{
    font-size: 2em;
}

.flex-container {
    background-color: #fca17d;
    padding: 0.5m 0;
    margin-bottom: 20px;
    border-bottom: 5px solid red;
    /******/
}
.flex-item {
    --medida:80px;
    width: var(--medida);
    height: var(--medida);
    margin: .5em;
    line-height: var(--medida);
    color: aliceblue;
    text-align: center;
    background-color: #9a348e;
    /******/
}

.fc1 {
    display: flex;
    flex-wrap: nowrap;
}

.fc2 {
    display: flex;
    flex-wrap: wrap;
}

.fc3 {
    display: flex;
    flex-wrap: wrap-reverse;
}



